body {
    background-color: #222430;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bordered {
    width: 800px;
    height: 160px;
    padding: 1rem;
}

svg {
    fill: #a3ff12;
}

svg .cls-1,
svg .cls-2 {
    stroke: #a3ff12;
    opacity: 1;
}

#custom-cursor {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    transition-duration: 225ms;
    transition-timing-function: ease-out;
}

#custom-cursor:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #a3ff12;
    opacity: 1;
}

#custom-cursor:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #a3ff12;
    opacity: .5;
}